:root{
    --transition-delay: 0.7s;
}

body{
    margin: 0;
    background: linear-gradient(to bottom, #036564, #033649);
    /*background: linear-gradient(to bottom, #556270, #C44D58);*/
    /* background: linear-gradient(5deg, #036564, #033649); */
    /* background: linear-gradient(5deg, #036564, #033649); */
}

.blur{
    /*background-color: rgba(8, 14, 14, 0.85);*/
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}